.box {
  width: 200px;
  height: 200px;
  background-color: green;
  margin: 20% auto;
  h2,
  p {
    color: white;
    text-align: center;
    &:nth-child(3) {
      background-color: orchid;
    }
  }
  &:hover {
    background-color: orange;
    cursor: pointer;
  }
}
